/* 2. flexbox를 활용하여 div를 그리드로 표시합니다.
    2-1. CSS Grid를 쓰진 마
3. border와 margin은 사각형의 크기를 조정할 수도 있다.
4. 그리드 안되면
    4-1. css 연결
    4-2. 개발자 도구 열기
    4-3. 콘솔 확인
    4-4. 요소 창 확인
    4-5. console.log를 통해 로드 확인 --> */
/* js 활용 css */
.newNode{
    background-color: white;
    opacity: 1;
    flex:auto;
}
.newNodeContainer{
    display: flex;
    flex:auto;
}
.border{
    border: 1px solid black;
    box-sizing: border-box;
}
.pressButton{
    color: red;
}
/* 전체 설정 */
body{
    background-color: #2109555d;
    color: white;
    margin: 0;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.largecomponent{
    height:200px;
    text-align: center;
}

.niceButton{
    padding: 20px 30px;
    width: 70%;
    margin: 0 15%;
    border-radius: 10px;
    font-size: large;
    font-weight: bold;
    background-color: blanchedalmond;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* headContent */
#headContent{
    align-self: stretch;
    display: flex;
    flex-direction: column;
}
#lanContainer{
    align-self: center;
    display: flex;
    gap: 30px;
}
h1{
    font-size: 60px;
}

/* bodyContent */
#bodyContent{
    display: flex;
    align-self: stretch;
    height:80vh;
    justify-content: stretch;
}

#bodyContainer{
    background-color: brown;
    padding: 2.5px 30px;
    border: 1px solid white;
    border-radius: 15px;
    display: flex;
}
.side{
    flex:auto;
}
/* bodyContent left*/
#bodyLeft{
    display: flex;
    width:15vw;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 10px 0 0 10px;
    padding-right: 30px;
    border-right: 1px solid black;
}

#colorSlider{
    width: 100%;
}

#colorsetting{
    margin: 10%;
}

#colorCircle{
    border-radius: 50%;
    margin: 0 auto;
    width: 15vw;
    height: 15vw;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hiddenColorCircle{
    opacity: 0;
}

/* bodyContent Right */
#bodyRight{
    display: flex;
    height:80vh;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 2.5px 30px;
}

#palette{
    align-self: center;
    height: 70vh;
    width: 70vw;
    background-color: white;
    display: flex;
    flex-direction: column;
}

#set{
    font-size: 100%;
    align-self: center;
    width: 10vw;
    height: 5vh;
}

/* footerContent 완료 */